img {
  max-width: 100%;
  height: auto;
}

/* 专门给 table.docutils.csv-table 类的表格加样式 */
.rst-content table.docutils,.wy-table-bordered-all {
  width: 100%;
  border: 1px solid #e1e4e5
}


.rst-content table.docutils.csv-table th, table.docutils.csv-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
